certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
Click==7.0
cryptography==2.8
decorator==4.4.1
future==0.18.2
icinga2apic==0.7.1
idna==2.8
pycparser==2.19
python-telegram-bot==12.4.2
PyYAML==5.3
requests==2.22.0
simplejson==3.17.0
six==1.14.0
telegram==0.0.1
tornado==6.0.3
urllib3==1.25.8
